code {
	white-space:pre;
	display:block;
	font-size:9.5pt;
}
code.completed {
	display:none;
}
code.inline {
	display:inline;
	white-space:nowrap;
	border:0;
	padding:0;
}
html {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
}

body {
	margin:auto;
	width:650px;	
}

h2:before {
	content:counter(h2) ". ";
	counter-increment:h2;
}
#style_link {
	float:right;
}